<section class="Skills" id="Skills">
    <div class="container">
        <h1 class="sub-title">My Skills</h1>
        <div class="web-skills">
            <div class="content">
                <div class="image-container">
                    <img src="../../../assets/html-5.png" alt="HTML" />
                    <img src="../../../assets/css-3.png" alt="CSS" srcset="">
                    <img src="../../../assets/js.png" alt="JS">
                    <img src="../../../assets/php.png" alt="PHP" srcset="">
                    <img src="../../../assets/icons8-react-512.png" alt="React" />
                    <img src="../../../assets/icons8-angular-512.png" alt="Angular" srcset="">
                </div>
                <div class="progress" ></div>
                <h3 style="background-color: black;">Web development</h3>
                </div>
           
            <div class="content">
                <div class="image-container">
                    <img src="../../../assets/icons8-c-512.png" alt="HTML" />
                        <img src="../../../assets/icons8-c-512 (1).png" alt="CSS" srcset="">
                        <img src="../../../assets/icons8-java-512.png" alt="CSS" srcset="">
                        <img src="../../../assets/icons8-python-512.png" alt="CSS" srcset="">
                        <img src="../../../assets/Rlogo.png" alt="CSS" srcset="">
                        </div>
                        <div class="progress" ></div>
                        <h3 style="background-color: black;">Programming Language</h3>
            </div>
            <div class="content">
                <div class="image-container">
                    <img src="../../../assets/node-js.png" alt="HTML" />
                        <img src="../../../assets/icons8-firebase-512.png" alt="CSS" srcset="">
                        <img src="../../../assets/icons8-mysql-512.png" alt="CSS" srcset="">
                        <img src="../../../assets/icons8-mongodb-a-cross-platform-document-oriented-database-program-96.png" alt="CSS" srcset="">
                        </div>
                        <div class="progress" ></div>
                        <h3 style="background-color: black;">Back-end and Database</h3>
                    </div>   
            </div>
           
        
        </div>
</section>

